<div class="modal-header">
  <h3>{{title}}</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="edition-container">
    <img *ngIf="is('image')" [src]="src" alt="evidence" class="evidence">

    <video *ngIf="is('video')" class="evidence" id="evidence-video" controls (loadedmetadata)="seekVideo()">
      <source [src]="src" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

    <app-view-pdf
      *ngIf="is('pdf')"
      [inputPage]="shortcut"
      [inputSrc]="src">
    </app-view-pdf>

    <audio *ngIf="is('audio')" class="evidence" id="evidence-audio" controls [src]="src" (loadedmetadata)="seekAudio()">
      Your browser does not support the <code>audio</code> element.
    </audio>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
