.log-reg-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
  height: 450px;
  width: 800px;
  background: #ffffff;

  .log-reg-right {
    width: 55%;
    height: 100%;
    padding: 0 30px;
    float: right;
    display: flex;
    justify-content: center;

    .log-reg-right-container {
      align-self: center;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .login-form {
      padding: 30px;

      .btn {
        display: block;
        margin: 0 auto;
        width: 100%;
      }

      .form-control {
        width: 285px;
      }

      .username-icon, .password-icon {
        float: left;
        width: 25px;
        margin-right: 10px;
        margin-top: 5px;
      }
    }
  }
}
