<div class="log-reg-container box-shadow">
  <app-log-reg-banner></app-log-reg-banner>
  <div class="log-reg-right">
    <div class="log-reg-right-container">
      <app-log-reg-tabs></app-log-reg-tabs>
      <form (submit)="onLoginSubmit()" class="login-form">
        <div class="form-group">
          <img alt="username" src="../../../../assets/username-icon.png" class="username-icon">
          <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="username">
        </div>

        <div class="form-group">
          <img alt="password" src="../../../../assets/password-icon.png" class="password-icon">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>
