<label class="pdf-upload-container btn btn-primary">
  <span>Select PDF</span>
  <input #pdfInput type="file" accept="application/pdf" (click)="pdfInput.value = null" (change)="openModal(pdfModal); processFile(pdfInput)">
</label>

<ng-template #pdfModal let-modal>
  <div class="modal-loading-body" *ngIf="!selectedPdfExists() || !isLoaded">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>

  <div *ngIf="selectedPdfExists()">
    <div class="modal-header" *ngIf="isLoaded">
      <h1 class="instructions">Please select a page for the thumbnail</h1>
    </div>
    <div class="modal-body">
     <app-view-pdf (isLoaded)="toggleIsLoaded($event)" (pageNumber)="onPageSelect($event)" [inputSrc]="selectedPDF.src"></app-view-pdf>
    </div>
    <div class="modal-footer">
      <!--modal.close('Close click');-->
      <button *ngIf="isLoaded" (click)="modal.close('Close click'); uploadPDF()" type="button" class="btn btn-success">
        Upload
      </button>
    </div>
  </div>
</ng-template>
