input[type="file"] {
  display: none;
}

.pdf-upload-container {
  margin: 0 auto;
  display: table;
}

.instructions {
  font-size: 16px;
  color: #17105b;
  margin-bottom: 0;
}

.lds-ring {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 200px auto;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #17105b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #17105b transparent transparent transparent;

  &:nth-child(1) {
    animation-delay: -0.45s;
  }

  &:nth-child(2) {
    animation-delay: -0.3s;
  }

  &:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-success {
  width: 100%;
}

