<div *ngIf="isAdmin">
  <div class="main-content box-shadow col-sm-11">
    <div class="search-bar">
      <input [(ngModel)]="query" type="text" class="search-input" placeholder="Search: Name | Manufacturer | Feature Category | Feature Name">
      <img src="../../../assets/search.png" alt="search" class="search-btn" (click)="search()">
      <button [disabled]="!queried" class="btn btn-outline-danger" (click)="clearQuery()">Clear</button>
    </div>

    <div class="devices">
      <div *ngIf="queriedDevices.length === 0">
        <h1 class="query-header">No devices</h1>
      </div>
      <div class="device-container" *ngFor="let d of queriedDevices" >
        <div class="device-clickable" (click)="loadDeviceAsAdmin(d, deviceModal)">
          <img [src]="d.image" class="device-img" alt="{{d.name}}">
          <p class="device-details larger">{{d.name}}</p>
          <p class="device-details"><span class="labels">By:</span> {{d.manufacturer}}</p>
        </div>

        <img
          *ngIf="d.readyToMerge"
          src="../../../assets/info-24.png"
          class="info-icon"
          alt="ready to merge"
          mat-raised-button
          matTooltip="This device needs merging">

        <img class="delete" alt="delete" src="../../../assets/delete.png" (click)="openModal(deleteModal)">

        <ng-template #deviceModal let-modal>
          <div class="modal-header">
            <p class="modal-heading font-weight-bolder">This device needs merging.</p>
            <p class="modal-heading option">Would you like to view or merge?</p>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button class="btn btn-primary margin-btn" (click)="modal.close('Close click'); mergeDevice(d._id)">Merge</button>
            <button class="btn btn-primary" (click)="modal.close('Close click'); viewDevice(d._id)">View</button>
          </div>
        </ng-template>

        <ng-template #deleteModal let-modal>
          <div class="modal-header">
            <p class="modal-heading font-weight-bolder">Delete device</p>
            <p class="modal-heading option">Are you sure?</p>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button class="btn btn-danger margin-btn" (click)="modal.close('Close click'); deleteDevice(d._id)">Delete</button>
            <button class="btn btn-primary" (click)="modal.close('Close click')">Cancel</button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>

  <div class="add-feature-device col-sm-1">
    <div class="add-container">
      <img *ngIf="!addButtonClicked" class="add-button" src="../../../assets/add.png" alt="add" (click)="toggleAddMenu()">
      <img *ngIf="addButtonClicked" class="add-button" src="../../../assets/add-clicked.png" alt="add clicked" (click)="toggleAddMenu()">
      <div class="popup" [class.hide]="!addButtonClicked">
        <ul class="add-menu">
          <li class="add-item" (click)="newDeviceClick()">New device</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isCrowdsourcer">
  <div class="main-content box-shadow col-sm-11">
    <div class="search-bar">
      <input [(ngModel)]="query" type="text" class="search-input" placeholder="Search: Name | Manufacturer | Feature Category | Feature Name">
      <img src="../../../assets/search.png" alt="search" class="search-btn" (click)="search()">
      <button [disabled]="!queried" class="btn btn-outline-danger" (click)="clearQuery()">Clear</button>
    </div>

    <div class="devices">
      <div *ngIf="queriedDevices.length === 0">
        <h1 class="query-header">No devices</h1>
      </div>

      <div class="device-clickable device-container" *ngFor="let d of queriedDevices" (click)="loadDeviceAsCrowdsourcer(d)">
        <img [src]="d.image" class="device-img" alt="{{d.name}}">
        <p class="device-details larger">{{d.name}}</p>
        <p class="device-details"><span class="labels">By:</span> {{d.manufacturer}}</p>
      </div>
    </div>
  </div>

  <div class="add-feature-device col-sm-1">
    <div class="add-container">
      <img *ngIf="!addButtonClicked" class="add-button" src="../../../assets/add.png" alt="add" (click)="toggleAddMenu()">
      <img *ngIf="addButtonClicked" class="add-button" src="../../../assets/add-clicked.png" alt="add clicked" (click)="toggleAddMenu()">
      <div class="popup" [class.hide]="!addButtonClicked">
        <ul class="add-menu">
          <li class="add-item" (click)="newFeatureClick()">New feature</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isStudent">
  <div class="main-content box-shadow" [class.col-sm-9]="showCompare">
    <div class="search-bar">
      <input [(ngModel)]="query" type="text" class="search-input" placeholder="Search: Name | Manufacturer | Feature Category | Feature Name">
      <img src="../../../assets/search.png" alt="search" class="search-btn" (click)="search()">
      <button [disabled]="!queried" class="btn btn-outline-danger" (click)="clearQuery()">Clear</button>
    </div>

    <div class="devices">
      <div *ngIf="queriedDevices.length === 0">
        <h1 class="query-header">No devices</h1>
      </div>
      <div class="device-clickable device-container" *ngFor="let d of queriedDevices">
        <div (click)="loadDeviceAsStudent(d)">
          <img [src]="d.image" class="device-img" alt="{{d.name}}">
          <p class="device-details larger">{{d.name}}</p>
          <p class="device-details"><span class="labels">By:</span> {{d.manufacturer}}</p>
        </div>
        <input type="checkbox" class="select-device" name="select-device" (click)="addToCompare($event, d)">
      </div>
    </div>
  </div>

  <div *ngIf="showCompare && toCompare.length > 0" class="compare-device-container box-shadow">
    <h3 class="compare-header">Compare Devices</h3>
    <h4 class="instructions" [class.failure]="toCompare.length === maxCompare">{{maxCompare - toCompare.length}} more devices allowed</h4>
    <div class="devices">
      <div class="device-container" *ngFor="let d of toCompare">
        <img class="device-img" [src]="d.image" alt="device">
        <p class="device-details larger">{{d.name}}</p>
        <p class="device-details"><span class="labels">By:</span> {{d.manufacturer}}</p>
      </div>
    </div>
    <button class="btn btn-success" [class.more-than-3]="toCompare.length > 3" [disabled]="toCompare.length < 2" (click)="compareDevices()">Compare</button>
  </div>
</div>
