.main-content {
  height: 700px;
  background: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 45px;
  overflow: auto;
  color: #17105b;

  &.float-none {
    float: none;
  }

  .search-bar {
    text-align: center;
    margin-bottom: 30px;

    .search-input {
      color: #17105b;
      padding: 5px;
      border-bottom-color: #17105b;
      width: 415px;
      margin-right: 5px;
    }

    .search-btn {
      cursor: pointer;
      margin-top: 2px;
      width: 20px;
      margin-right: 25px;
    }

    .btn-outline-danger {
      font-size: 12px;
      padding: 5px 8px;
    }
  }



  &.admin {
    background: #252525;
    color: #ffffff;
  }

  .device-container {
    display: inline-block;
    width: 25%;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;

    &:hover {
      -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      z-index: 2;
    }
  }

  .device-clickable {
    cursor: pointer;
  }

  .device-container {
    position: relative;
  }

  .device-img {
    width: 100%;
    border: 2px solid #dddddd;
  }

  .delete {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
}

.device-details {
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;

  &.larger {
    margin-top: 5px;
    font-size: 16px;
  }
}

.add-feature-device {
  float: left;
  height: 700px;
  margin-top: 30px;

  .add-container {
    position: absolute;
    bottom: 0;
  }

  .add-button {
    cursor: pointer;
    width: 45px;
    position: relative;
    left: 35px;
  }

  .popup {
    position: absolute;
    bottom: 55px; // img height + 10px
    width: 120px;
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    .add-menu {
      list-style: none;
      margin: 0;
      padding: 0;

      .add-item {
        padding: 15px;
        color: #17105b;
        cursor: pointer;
        text-align: center;

        &:hover {
          background: rgb(67, 176, 92);
          color: white;
        }
      }
    }
  }
}

.info-icon {
  width: 18px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.modal-header {
  border-bottom : none;
  display: block;
  position: relative;

  button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.modal-heading {
  font-size: 18px;
  color: #17105b;
  text-align: center;

  &.option {
    margin-bottom: 0;
  }
}

.modal-body {
  .btn-primary, .btn-danger {
    width: calc(50% - 10px);

    &.margin-btn {
      margin-right: 20px;
    }
  }
}

.select-device {
  float: right;
}

.compare-device-container {
  float: left;
  height: 700px;
  margin-left: 20px;
  margin-top: 30px;
  background: #ffffff;
  width: calc(25% - 20px);
  overflow: auto;
  position: relative;
  padding: 25px;

  .compare-header {
    font-size: 18px;
    text-align: center;
  }

  .instructions {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;

    &.failure {
      color: red;
    }
  }

  .device-container {
    height: calc(33.33333333% - 45px);
    padding: 15px 25px;

    &:not(:last-of-type) {
      border-bottom: .7px solid #17105b;
    }
  }

  .device-img {
    display: block;
    margin: 0 auto;
    max-height: 50px;
  }

  p {
    margin-bottom: 0;
  }

  .devices {
    height: 100%;
    max-height: 535px;
    overflow: auto;
  }

  .btn-success {
    position: absolute;
    bottom: 25px;
    width: calc(100% - 50px);
    left: 25px;

    &.more-than-3 {
      //position: initial;
      //bottom: unset;
      //left: unset;
      //width: 100%;
    }
  }
}

.query-header {
  text-align: center;
  font-size: 20px;
}

.col-sm-9, .col-sm-11 {
  float: left;
}
