.log-reg-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
  height: 450px;
  width: 800px;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .log-reg-right {
    width: 55%;
    height: 100%;
    padding: 0 30px;
    float: right;
    display: flex;
    justify-content: center;

    .log-reg-right-container {
      align-self: center;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .reg-form {
      padding: 10px 25px;

      .btn {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.firstLabel {
  margin-right: 10px;
}

.userType {
  margin-left: 7px;
}

input[type="radio"] {
  margin-left: 10px;
}

.firstUserType {
  margin-right: 10px;
}
