<div class="log-reg-container box-shadow">
  <app-log-reg-banner></app-log-reg-banner>
  <div class="log-reg-right">
    <div class="log-reg-right-container">
      <app-log-reg-tabs></app-log-reg-tabs>
      <form #registerUserForm="ngForm" (submit)="onRegisterSubmit()" class="reg-form">
        <div class="form-group">
          <input type="text" [(ngModel)]="user.name" name="name" class="form-control" placeholder="Full Name" required>
        </div>

        <div class="form-group">
          <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required>
        </div>

        <div class="form-group">
          <input type="text" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Username" required>
        </div>

        <div class="form-group">
          <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group">
          <label class="firstLabel">Account:</label>

          <input id="crowdsourcer" name="userType" [(ngModel)]="user.userType" value="crowdsourcer" type="radio">
          <label class="userType firstUserType" for="crowdsourcer">Crowdsourcer</label>

          <input id="student" name="userType" [(ngModel)]="user.userType" value="student" type="radio">
          <label class="userType" for="student">Student</label>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Register" [disabled]="!registerUserForm.form.valid || !user.userType">
        </div>
      </form>
    </div>
  </div>
</div>

