<label class="vid-upload-container btn btn-primary">
  <span>Select Video</span>
  <input #videoInput type="file" accept="video/*" (click)="videoInput.value = null" (change)="processFile(videoInput)">
</label>

<div *ngIf="selectedVideo && selectedVideo.src" id="original">
  <div class="vid-preview-container">
    <video class="vid-preview" id="videoEvidenceSelector" controls>
      <source [src]="selectedVideo.src" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

    <div *ngIf="isStatus('FAIL')" class="alert alert-danger">There was a server issue</div>
  </div>

  <h3 class="instructions">Please seek to relevant timestamp</h3>
  <button type="button" class="btn btn-success timestamp" (click)="uploadVideo()">Choose Timestamp</button>
</div>
