input[type="file"] {
  display: none;
}

.vid-upload-container {
  margin: 0 auto;
  display: table;
}

.instructions {
  font-size: 16px;
  color: #17105b;
  margin-bottom: 20px;
}

.vid-preview-container {
  background: #dddddd;
  position: relative;
  margin: 20px 0;

  .vid-preview {
    background: center center no-repeat;
    background-size: contain;
    width: 100%;
    margin: 0 auto;
  }
}

.timestamp {
  width: 100%;
  font-size: 14px;
}

