<div class="log-reg-left">
  <h1><span class="smaller-header">Welcome to </span><span class="larger-header">Olympus</span></h1>
  <p>The crowdsourcing platform for breaking down and analysing IoT solutions.</p>
  <p>You need an account to participate. Thank you.</p>
</div>
