.log-reg-left {
  width: 45%;
  height: 100%;
  float: left;
  padding: 45px;
  background-image: url('../../../../assets/mountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  h1 {
    color: #ffffff;

    .smaller-header {
      font-size: 30px;
    }

    .larger-header {
      font-size: 48px;
      position: relative;
      top: -10px;
    }
  }

  p {
    font-size: 13px;
    color: #ffffff;

    &:first-of-type {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }

}
