<div class="chosen-device box-shadow" [class.feature-shown]="isFeatureShown">
  <h3 class="chosen-device-header">Chosen details</h3>
  <img *ngIf="device.image" [src]="device.image" class="original-img" alt="original device image">
  <p class="top-border"><span class="font-weight-bolder">Name: </span>{{device.name}}</p>
  <p><span class="font-weight-bolder">Manufacturer: </span>{{device.manufacturer}}</p>
  <p><span class="font-weight-bolder">Price: </span>{{device.price}}</p>
  <p><span class="font-weight-bolder">Description: </span><span *ngIf="device.description === ' '">N/A</span></p>
  <textarea readonly class="chosen-description" placeholder="Description">{{device.description}}</textarea>
  <h3 class="features-header">Features</h3>
  <p *ngIf="device.technology && device.technology.length === 0">N/A</p>
  <div class="category-container" *ngFor="let cat of device.technology">
    <p class="font-weight-bolder">{{cat.category}}</p>
    <p *ngFor="let feat of cat.features">{{feat.feature}}</p>
  </div>
</div>

<div class="main-content box-shadow" [class.feature-shown]="isFeatureShown">
  <div *ngIf="isStage(1)" class="merge-stage-one">
    <h2 class="choose-header" *ngIf="areImageOptions">Choose the device's picture</h2>
    <div class="max-three">
      <div class="item-container" *ngFor="let option of imageOptions">
        <div class="item-detail">
          <img (click)="selectBaseItem('image', option.image)" alt="device" [src]="option.image" class="image-options">
          <div *ngIf="isChosen('image', option.image)" class="overlay"></div>
        </div>
        <p><span class="font-weight-bolder">From: </span>{{option.user}}</p>
      </div>
    </div>
    <div class="controls">
      <button class="btn btn-success previous" [disabled]="isStage(1)" (click)="previousStage()">Prev</button>
      <button class="btn btn-success next" [disabled]="isStage(4)" (click)="nextStage()">Next</button>
    </div>
  </div>

  <div *ngIf="isStage(2)" class="merge-stage-two">
    <h2 class="choose-header" *ngIf="arePriceOptions">Choose the device's price</h2>
    <div class="max-three">
      <div class="item-container" *ngFor="let option of priceOptions">
        <div class="item-detail">
          <p class="price" (click)="selectBaseItem('price', option.price)">{{option.price}}</p>
          <div *ngIf="isChosen('price', option.price)" class="overlay"></div>
        </div>
        <p><span class="font-weight-bolder">From: </span>{{option.user}}</p>
      </div>
    </div>
    <div class="controls">
      <button class="btn btn-success previous" [disabled]="isStage(1)" (click)="previousStage()">Prev</button>
      <button class="btn btn-success next" [disabled]="device.price === 'N/A'" (click)="nextStage()">Next</button>
    </div>
  </div>

  <div *ngIf="isStage(3)" class="merge-stage-three">
    <h2 class="choose-header">Choose the device's description</h2>
    <div class="max-three">
      <div class="item-container" *ngFor="let option of descriptionOptions">
        <div class="item-detail">
          <textarea readonly placeholder="Description" class="description" (click)="selectBaseItem('description', option.description)">{{option.description}}</textarea>
          <div *ngIf="isChosen('description', option.description)" class="overlay"></div>
        </div>
        <p><span class="font-weight-bolder">From: </span>{{option.user}}</p>
      </div>

    </div>
    <div class="controls">
      <button class="btn btn-success previous" [disabled]="isStage(1)" (click)="previousStage()">Prev</button>
      <button class="btn btn-success next" [disabled]="device.description === ' '" (click)="nextStage()">Next</button>
    </div>
  </div>

  <div *ngIf="isStage(4) && areFeaturesOptions" class="merge-stage-four">
    <h2 class="choose-header">Choose the device's features</h2>
      <div class="category-container">
        <ul class="category-list">
          <li class="category-item" *ngFor="let category of featuresOptions">
            <span class="category-header">{{category.category}}</span>
            <ul class="feature-list">
              <li class="feature-item" *ngFor="let feature of category.features" (click)="showFeatureEditions(feature, category.category)">
                  <span class="feature-title">{{feature.feature}}</span>
                  <span class="feature-title choice" [class.font-weight-bolder]="featureAvailable(feature.feature, category.category).success">
                    {{featureAvailable(feature.feature, category.category).text}}
                  </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="isStage(4) && !areFeaturesOptions" class="merge-stage-four">
      <h2 class="choose-header">There are no features to merge</h2>
    </div>

    <div *ngIf="isStage(4)" class="controls">
      <ng-template #noFeaturesModal let-modal>
        <div class="modal-header">
          <p class="modal-heading font-weight-bolder">You are about to merge without including any features.</p>
          <p class="modal-heading option">Would you like to continue?</p>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <button class="btn btn-success" (click)="modal.close('Close click'); merge()">Merge</button>
          <button class="btn btn-danger btn-cancel" (click)="modal.close('Close click')">Cancel</button>
        </div>
      </ng-template>

      <button class="btn btn-success previous" [disabled]="isStage(1)" (click)="previousStage()">Prev</button>

      <button *ngIf="areFeaturesOptions && !anyFeatureConfirmed" class="btn btn-success merge" (click)="openMergeModal(noFeaturesModal)">Merge</button>
      <button *ngIf="!areFeaturesOptions || anyFeatureConfirmed" class="btn btn-success merge" (click)="merge()">Merge</button>
    </div>

</div>

<div class="chosen-feature box-shadow" *ngIf="isFeatureShown">
  <h3 class="chosen-feature-header">Choose a version</h3>
  <h4 class="feature-name">{{selectedFeatureTitle}}</h4>
  <div class="edition-container" [class.chosen]="isEditionSaved(edition)" *ngFor="let edition of selectedFeatureEditions">
    <p><span class="font-weight-bolder">Evidence title: </span>{{edition.title}}</p>
    <p><span class="font-weight-bolder">Purpose: </span>{{edition.purpose}}</p>
    <p><span class="font-weight-bolder">Origin: </span>{{edition.origin}}</p>

    <img *ngIf="!edition.thumbnail" class="evidence-thumnbail" alt="evidence thumbnail audio" [src]="edition.evidenceType === 'audio' ? '../../../assets/audio.png' : '../../../assets/pdf.png'" (click)="openModal(edition)">
    <img *ngIf="edition.thumbnail" class="evidence-thumnbail" alt="evidence thumbnail" [class.audio]="!edition.thumbnail" [src]="edition.thumbnail || '../../../assets/audio.png'" (click)="openModal(edition)">

    <div class="edition-selection" [class.chosen]="isEditionChosen(edition)" (click)="onEditionSelection(edition)"></div>
  </div>
  <button class="btn btn-success" (click)="confirmEdition()" [disabled]="!isEditionSelected">Confirm</button>
</div>

