.chosen-device {
  height: 700px;
  background: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;
  overflow: auto;
  color: #17105b;
  float: left;
  margin-right: 10px;
  width: calc(33.33333333% - 10px);

  &.feature-shown {
    width: calc(25% - 10px);
  }

  .original-img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto 15px auto;
  }

  .chosen-device-header {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
  }

  .features-header {
    font-size: 16px;
  }

  .category-container {
    margin: 10px 0;
  }

  p {
    margin: 0 0 5px 0;
    font-size: 14px;

    &.top-border {
      padding-top: 10px;
      border-top: .7px solid #17105b;
    }
  }

  .chosen-description {
    width: 100%;
    height: 150px;
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    resize: none;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  ::placeholder {
    color: #17105b;
  }
}

.main-content {
  padding: 45px;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: auto;
  color: #17105b;
  float: left;
  margin-left: 10px;
  width: calc(66.66666666% - 10px);


  &.feature-shown {
    width: calc(50% - 10px);
  }
}

.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
  float: left;
}

.max-three {
  max-width: 640px;
  overflow: auto;
  white-space: nowrap;

  .item-container {
    width: calc(33.33333333% - 5px);
    cursor: pointer;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 5px;
    }

    &:nth-child(even) {
      border: none;
    }

    .item-detail {
      position: relative;
    }

    .image-options {
      display: block;
      width: 100%;
      border: .7px solid #17105b;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(40, 167, 69, 0.2);
}

.choose-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.controls {
  margin-top: 25px;

  .btn {
    font-size: 14px;
  }

  .next, .merge {
    float: right;
  }

  .merge {
    width: 200px;
  }
}

.merge-stage-two {
  .price {
    margin: 0;
    padding: 5px;
  }
}

.merge-stage-three {
  .item-detail {
    height: 200px;
  }

  .description {
    font-size: 12px;
    width: 100%;
    height: 100%;
    resize: none;
    cursor: pointer;
    padding: 7px;
  }
}

.merge-stage-four {
  .category-header {
    font-size: 16px;
    padding: 10px;
    background: #491971;
    color: white;
    margin-bottom: 0;
  }

  .category-list {
    list-style: none;
    padding: 0;

    .category-item {
      .category-header {
        display: block;
      }
    }
  }

  .feature-list {
    list-style: none;
    padding: 0;

    .feature-item {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: #17105b;
        color: white;
      }
    }
    input[type="checkbox"] {
      float: right;
      margin-top: 8px;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .feature-title {
      width: 50%;
      display: inline-block;

      &.choice {
        text-align: right;
      }
    }
  }
}

.chosen-feature {
  margin-left: 20px;
  width: calc(25% - 20px);
  background: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  overflow: auto;
  color: #17105b;
  float: left;
  max-height: 700px;

  .chosen-feature-header {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .feature-name {
    font-size: 16px;
    padding-left: 10px;
  }

  .edition-container {
    padding: 10px;
    overflow: auto;
    position: relative;

    &.chosen {
      background: rgba(40, 167, 69, 0.2);
    }

    &:not(:last-of-type) {
      border-bottom: .7px solid #17105b;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
    }

    .evidence-thumnbail {
      margin: 10px auto;
      display: block;
      max-width: 100px;
      border: .7px solid #17105b;
      cursor: pointer;
      border-radius: 5px;

      &.audio {
        padding: 10px;
      }
    }

    .edition-selection {
      position: absolute;
      width: 8.33333333%;
      background: #dddddd;
      cursor: pointer;
      height: calc(100% - 20px);
      top: 10px;
      right: 0;

      &:hover {
        background: #124c81;
      }

      &.chosen {
        background-color: #17105b;
      }
    }
  }

  .btn-success {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
  }
}

.modal-header {
  border-bottom : none;
  display: block;
  position: relative;

  button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.modal-heading {
  font-size: 18px;
  color: #17105b;
  text-align: center;

  &.option {
    margin-bottom: 0;
  }
}

.modal-body {
  .btn-success, .btn-danger {
    width: calc(50% - 10px);

    &.btn-cancel {
      margin-left: 20px;
    }
  }
}
