.account-container {
  margin-top: 30px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  width: 500px;
  color: #17105b;

  .account-header {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .account-details {
    margin-bottom: 20px;

    td {
      padding-bottom: 10px;

      &.labels {
        padding-right: 50px;
      }
    }
  }

  .devices-header {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .devices-moderated {
    list-style: none;
    padding: 0;
    width: 560px;
    overflow: auto;
    white-space: nowrap;

    .device-item {
      display: inline-block;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: #17105b;
        color: white;
      }
    }

    .device-img {
      width: 100%;
      margin-bottom: 5px;
    }

    .device-details {
      margin-bottom: 0;
      font-size: 14px;

      &.larger {
        font-size: 16px;
      }
    }
  }

  .labels {
    font-weight: bold;
  }
}
