<div *ngIf="user" class="account-container box-shadow">
  <h1 class="account-header">Account Details</h1>
  <table class="account-details">
    <tr>
      <td class="labels">Name:</td>
      <td>{{user.name}}</td>
    </tr>

    <tr>
      <td class="labels">Username:</td>
      <td>{{user.username}}</td>
    </tr>

    <tr>
      <td class="labels">Email:</td>
      <td>{{user.email}}</td>
    </tr>

    <tr>
      <td class="labels">Account type:</td>
      <td>{{user.userType}}</td>
    </tr>
  </table>
</div>
