<div id="original">
  <div class="pdf-controls" *ngIf="loaded">
    <button class="btn btn-primary previous" [disabled]="page === 1" (click)="prevPage()">Prev</button>
    <input type="number" [(ngModel)]="page" placeholder="page"><span> / {{totalPages}}</span>
    <button class="btn btn-primary next" [disabled]="page === totalPages" (click)="nextPage()">Next</button>
  </div>

  <div class="pdf-preview-container">
    <pdf-viewer
      [show-all]="false"
      [src]="inputSrc"
      [render-text]="true"
      [zoom]="0.5"
      [page]="page"
      (after-load-complete)="afterLoadComplete($event)"
      (pageChange)="pageChanged()">
    </pdf-viewer>
  </div>
</div>
