.pdf-preview-container {
  background: #dddddd;
  position: relative;
  padding-top: 10px;
}

pdf-viewer {
  display: block;
}

.pdf-controls {
  display: table;
  margin: 0 auto 20px auto;

  input {
    width: 35px;
    text-align: center;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .previous {
    margin-right: 30px;
  }

  .next {
    margin-left: 30px;
  }
}
