<label *ngIf="!imageChangedEvent" class="image-upload-container btn btn-primary">
  <span>Select Image</span>
  <input #imageInput type="file" accept="image/*" (click)="imageInput.value = null" (change)="openModal(imageCropModal); processFile(imageInput, $event)">
</label>

<ng-template #imageCropModal let-modal>
  <div class="modal-header">
    <h3 class="instructions">{{modalTitle}}</h3>
  </div>
  <div class="modal-body">
    <div *ngIf="originalImage && originalImage.src" id="original">
      <div class="img-preview-container">
        <div class="img-preview" [ngStyle]="{'background-image': 'url(' + originalImage.src + ')'}"></div>
      </div>
    </div>

    <image-cropper
      *ngIf="originalImage"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]= aspectRatio
      [resizeToWidth]="300"
      format="jpeg"
      (imageCroppedFile)="imageCropped($event)">
    </image-cropper>

  </div>
  <div class="modal-footer">
    <button *ngIf="imageChangedEvent"
            (click)="modal.close('Close click'); uploadImage()"
            type="button" class="btn btn-success crop">
      Crop
    </button>
  </div>
</ng-template>
