input {
  display: none;
}

.instructions {
  font-size: 16px;
  color: #17105b;
  margin-bottom: 0;
}

.img-preview-container {
  background: #dddddd;
  position: relative;

  .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
}
.img-loading-overlay {
  background: black;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: .2;
  position: absolute;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

image-cropper {
  padding: 0;
  max-height: 400px;
}

.crop {
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
}

.image-upload-container {
  margin: 0 auto;
  display: table;
}

