<label class="audio-upload-container btn btn-primary">
  <span>Select Audio</span>
  <input #audioInput type="file" accept="audio/*" (click)="audioInput.value = null" (change)="processFile(audioInput)">
</label>

<div *ngIf="selectedAudio && selectedAudio.src" id="original">
  <audio class="audio-preview" id="audioEvidenceSelector" controls [src]="selectedAudio.src">Your browser does not support the
    <code>audio</code> element.
  </audio>

  <h3 class="instructions">Please seek to relevant timestamp</h3>
  <button type="button" class="btn btn-success timestamp" (click)="uploadAudio()">Choose Timestamp</button>
</div>
