input[type="file"] {
  display: none;
}

.audio-upload-container {
  margin: 0 auto;
  display: table;
}

.instructions {
  font-size: 16px;
  color: #17105b;
  margin-bottom: 20px;
}

.audio-preview {
  margin: 20px auto;
  display: block;
}

.timestamp {
  width: 100%;
  font-size: 14px;
}

