$darker-grey: #252525;
$dark-grey: #535353;
$white: #ffffff;
$primary: #17105b;

body {
  background-image: linear-gradient(to top right, #491971, #1d3a6b);
  color: #17105b;
}

.bg-dark-grey {
  background: $darker-grey;

  p, a, li, h1, h2, h3 {
    color: $white;
  }
}

.bg-blue {
  background: $primary;
  color: $white;

  p, a, li, h1, h2, h3 {
    color: $white;
  }
}

.btn-grey {
  background: $darker-grey;
  border-color: $darker-grey;
  color: $white;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;

  &:hover {
    color: $white;
    background: $dark-grey;
    border-color: $dark-grey;
  }
}

.btn-primary {
  background: $primary;
  border-color: $primary;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;

  &:hover {
    background: #2f6aac;
    border-color: #2f6aac;
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  background: $primary;
  border-color: $primary;
}
