html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.hide {
  display: none !important;
}

.modal-content {
  .modal-header, .modal-body, .modal-footer {
    padding: 20px;
  }
}

