.main-content {
  background: #ffffff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  color: #17105b;

  .col-sm-12, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2 {
    float: left;
    padding: 0;
  }

  .device-img-container {
    border: .5px solid #17105b;
    border-right: none;
    position: relative;
  }

  .instructions-header {
    font-size: 18px;
    text-align: center;
  }
}

.add-device-form {
  overflow: auto;

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .add-device-img {
    width: inherit;
    padding: 1px;

    &.uploaded {
      vertical-align: middle;
      border: none;
    }
  }

  .device-info {
    display: flex;
    flex-wrap: wrap;
    padding-right: 30px;

    .form-control {
      margin: 0;
      overflow: auto;
      font-size: 12px;
      color: #17105b;
    }

    input[type="text"], textarea {

    }

    .col-sm-12 {
      input, textarea {

      }
    }

    .device-details {
      .form-control {
        border: 0.5px solid #17105b;
      }

      .price {
        border-left: none;
      }

      .manufacturer {
        border-top: none;
        border-bottom: none;
      }

      .description-text {
        height: 176px;

        p {
          height: 100%;
        }
      }
    }

    textarea {
      height: inherit;
      resize: none;
      -webkit-border-radius: .1px;
      -moz-border-radius: .1px;
      border-radius: .1px;
    }
  }

  .features-added {
    overflow: auto;
    margin-top: 15px;
    max-height: 260px;

    &.added {
      border: .5px solid #17105b;;
    }

    .features-header {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
    }

    .no-features {
      margin-top: 15px;
      padding-bottom: 8px;
      border-bottom: 1.5px dashed #17105b;
      text-align: center;
      font-size: 16px;
    }

    .category-container {
      margin-bottom: 10px;
    }

    .category {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
    }

    .category-list {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      .span-category {
        color: #ffffff;
        display: block;
        padding: 10px;
        background: #491971;
      }
    }

    .feature-list {
      padding-left: 0;
      list-style: none;

      .feature {
        cursor: pointer;

        &:hover {
          background: #2f6aac;
          color: #ffffff;
        }
      }

      .span-feature {
        padding: 10px;
        display: block;
      }
    }
  }

  .device-info, .add-features-container {
    margin-bottom: 40px;
  }

  .features-header {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .add-features-container {
    padding-left: 30px;

    .add-features-form {
      input[type="text"] {
        color: #17105b;
      }

      .alert-success {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 0;
      }

      .input-file {
        margin-top: 10px;
        max-width: 80%;
      }

      .btn-upload {
        margin-left: 10px;
        background: #4B4B4B;
        border-color: #4B4B4B;
        color: white;

        &:hover {
          background: #6f6f6f;
          border-color: #6f6f6f;
          color: white;
        }
      }

      .btn-add-feature {
        width: 100%;
        margin-top: 15px;
      }

      label {
        width: 100%;
        margin-bottom: 0;
        border: .5px solid #17105b;
      }

      select {
        width: 100%;
        padding: 9px;
        color: #17105b;
      }

      .form-control {
        border-radius: 0;
        font-size: 16px;
        border: .5px solid #17105b;
        border-top: none;

        &.manufacturer, .text-description {
          border-top: none
        }

        &.purpose {
          border-bottom: none;
        }
      }

      .changeUpload {
        display: table;
        margin: 20px auto 10px auto;
      }
    }
  }

  .create-device-button-container {
    margin-bottom: 0;

    .btn-create-device {
      width: 100%;
    }
  }

  .btn-primary.disabled, .btn-primary:disabled {
    cursor: default;
    background: #17105b;
    border-color: #17105b;
    opacity: 0.75;
  }
}

.evidence-thumnbail {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: .7px solid #17105b;
  max-height: 225px;
  border-radius: 5px;

  &.audio {
    margin-bottom: 0;
    width: 45px;
    padding: 5px;
  }
}

.evidence-img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.evidence-view {
  overflow: auto;
  margin-bottom: 20px;
}

.evidence-video {
  max-width: 100%;
}

.audio-preview {
  margin: 0 auto;
  display: block;
}

.evidence-container {
  margin-top: 20px;
}

.editable {
  .description-text {
    height: 187px !important;
  }
}

.file-container  {
  position: absolute;
  bottom: 0;
  height: 68px;
  background: #d6d6d6;
  display: flex;
  justify-content: center;
  width: calc(100% - 2px);
  margin-left: 1px;

  .add-img-icon {
    cursor: pointer;
    height: 30px;
    align-self: center;
    margin-top: 7px;
  }

  input {
    display: none;
  }
}

.change-image-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  background: rgba(63, 63, 63, 0.2);

  &:hover {
    background: rgba(63, 63, 63, 0.4);
  }

  .btn {
    margin: 8px auto 0 auto;
    display: block;
  }
}

.editable {
  input[type="text"]:read-only {
    cursor: not-allowed;
  }
}

