<div class="main-content box-shadow">
  <form class="add-device-form">
    <div class="device-info col-sm-6">
      <div class="col-sm-6 device-img-container">
        <span *ngIf="device.image" class="helper"></span>
        <img *ngIf="device.image" class="add-device-img uploaded" [src]="device.image" alt="device image">
      </div>

      <div class="col-sm-6 device-details">
        <div class="col-sm-7">
          <input type="text" class="form-control" required placeholder="Name" value="Name: {{device.name}}" readonly>
        </div>

        <div class="col-sm-5">
          <input *ngIf="device.price" type="text" class="form-control price" required placeholder="Price" value="Price: {{device.price}}" readonly>
          <input *ngIf="!device.price" type="text" class="form-control price" required placeholder="Price" readonly>
        </div>

        <div class="col-sm-12">
          <input type="text" class="form-control manufacturer" required placeholder="Manufacturer" value="Manufacturer: {{device.manufacturer}}" readonly>
        </div>

        <div class="col-sm-12 description-text">
          <textarea [(ngModel)]="device.description" name="description" class="form-control" placeholder="Description" readonly></textarea>
        </div>
      </div>

      <div class="col-sm-12 features-added" [class.added]="featuresAdded">
        <h3 *ngIf="!featuresAdded" class="no-features">No features added</h3>
        <h3 *ngIf="featuresAdded" class="bg-blue features-header">Features</h3>
        <ul class="category-list">
          <li class="category" *ngFor="let cat of chosenFeatures">
            <span class="span-category">{{cat.category}}</span>
            <ul class="feature-list">
              <li class="feature" *ngFor="let feat of cat.features" (click)="onFeatureClick(feat)">
                <span class="span-feature">{{feat.feature}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6 instructions" *ngIf="!featureViewed">
      <h2 class="instructions-header">{{instructions}}</h2>
    </div>

    <div class="col-sm-6 add-features-container" *ngIf="featureViewed">
      <h2 class="features-header bg-blue">Features</h2>

      <form class="add-features-form" enctype="multipart/form-data">
        <input type="text" name="selectedFeature" class="form-control" placeholder="Feature" value="Feature: {{selectedFeature}}" readonly required>
        <input type="text" name="title" class="form-control" placeholder="Title" value="Title: {{feature.title}}" readonly required>
        <input type="text" name="origin" class="form-control" placeholder="Origin" value="Origin: {{feature.origin}}" readonly required>
        <input type="text" name="purpose" class="form-control" placeholder="Purpose" value="Purpose: {{feature.purpose}}" readonly required>
        <input type="text" name="selectedMedia" class="form-control" placeholder="Purpose" value="Type: {{feature.evidenceType}}" readonly required>

        <div class="evidence-container" *ngIf="feature.src">
          <img *ngIf="!feature.thumbnail" class="evidence-thumnbail audio" [src]="feature.evidenceType === 'audio' ? '../../../../assets/audio.png' : '../../../../assets/pdf.png'" (click)="openModal()" alt="evidence thumbnail">
          <img *ngIf="feature.thumbnail" class="evidence-thumnbail" [src]="feature.thumbnail" (click)="openModal()" alt="evidence thumbnail">
        </div>
      </form>
    </div>
  </form>
</div>
