<nav class="tab-nav navbar navbar-expand-md">
  <ul class="navbar-nav">
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
      <a class="nav-link" [routerLink]="['/login']">Sign In</a>
    </li>

    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
      <a class="nav-link" [routerLink]="['/register']">Register</a>
    </li>
  </ul>
</nav>
