.tab-nav {
  padding: 0;

  .nav-item {
    background: #dddddd;
    width: 50%;

    &.active {
      background: #ffffff;
    }

    .nav-link {
      color: #17105b;
      font-size: 14pt;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
  }

  .navbar-nav {
    width: 100%;
  }
}
