<div class="main-content box-shadow">
  <h1 class="page-header">Create Device Template</h1>
  <form #createDeviceForm="ngForm" (submit)="onCreateSubmit()" class="add-device-form" enctype="multipart/form-data">
    <div class="device-info">
      <div class="device-img-container">
        <img class="add-device-img" *ngIf="!device.image" src="../../../assets/camera.jpg" alt="placeholder device image">
        <img class="add-device-img uploaded" *ngIf="device.image" [src]="device.image" alt="device image">
        <div class="file-container" *ngIf="!device.image">
          <app-image-upload
            *ngIf="!device.image"
            [aspectRatio]="1"
            (imageUploaded)="handleImageDeviceUpload($event)"
            (imageError)="handleUploadError($event)">
          </app-image-upload>
        </div>
        <div *ngIf="device.image" class="change-image-container">
          <button  class="btn btn-primary" (click)="changeDeviceImage()">Change</button>
        </div>
      </div>

      <div class="device-details">
        <input type="text" [(ngModel)]="device.name" name="name" class="form-control" placeholder="Name" required>
        <input type="text" [(ngModel)]="device.manufacturer" name="manufacturer" class="form-control manufacturer" placeholder="Manufacturer" required>
      </div>
    </div>

    <div class="form-group create-device-button-container">
      <input type="submit" [disabled]="!createDeviceForm.form.valid || !device.image" class="btn btn-primary btn-create-device" value="Create">
    </div>

  </form>
</div>

