.main-content {
  background: #ffffff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  width: 400px;

  .col-sm-12, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2 {
    float: left;
    padding: 0;
  }
}

.add-device-form {
  .device-img-container {
    border-right: none;
    position: relative;

    .change-image-container {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 50px;
      background: rgba(63, 63, 63, 0.2);

      &:hover {
        background: rgba(63, 63, 63, 0.4);
      }

      .btn {
        margin: 8px auto 0 auto;
        display: block;
      }
    }

    .add-device-img {
      width: 100%;
      border: .7px solid #17105b;
    }

    .file-container {
      position: absolute;
      width: 100%;
      bottom: 20px;
    }
  }

  .form-control {
    border: .7px solid #17105b;

    &:last-child {
      border-top: none;
    }
  }

  .device-details {
    margin: 20px 0;
  }

  .create-device-button-container {
    margin-bottom: 0;

    .btn-create-device {
      width: 100%;
    }
  }

  .btn-primary.disabled, .btn-primary:disabled {
    cursor: default;
    background: #17105b;
    border-color: #17105b;
    opacity: 0.75;
  }
}
