<div class="main-content box-shadow">
  <form #createDeviceForm="ngForm" class="add-device-form">
    <div class="device-info col-sm-6">
      <div class="col-sm-6 device-img-container">
        <img class="add-device-img" *ngIf="!device.image" src="../../../../assets/camera.jpg" alt="placeholder device image">
        <span *ngIf="device.image" class="helper"></span>
        <img *ngIf="device.image" class="add-device-img uploaded" [src]="device.image" alt="device image">
        <div class="file-container" *ngIf="!device.image">
          <app-image-upload
            *ngIf="!device.image"
            [aspectRatio]="1"
            (imageUploaded)="handleImageDeviceUpload($event)"
            (imageError)="handleUploadError($event)">
          </app-image-upload>
        </div>
        <div *ngIf="device.image" class="change-image-container">
          <button  class="btn btn-primary" (click)="this.device.image = null">Change</button>
        </div>
      </div>

      <div class="col-sm-6 device-details">
        <!--If editable-->
        <div class="editable">
          <div class="col-sm-8">
            <input type="text" [(ngModel)]="device.name" name="name" class="form-control" placeholder="Name" required readonly>
          </div>

          <div class="col-sm-4">
            <input type="text" [(ngModel)]="device.price" name="price" class="form-control price" placeholder="Price" required>
          </div>

          <div class="col-sm-12">
            <input type="text" [(ngModel)]="device.manufacturer" name="manufacturer" class="form-control manufacturer" placeholder="Manufacturer" required readonly>
          </div>

          <div class="col-sm-12 description-text">
            <textarea [(ngModel)]="device.description" name="description" class="form-control text-description" placeholder="Description" required></textarea>
          </div>
        </div>

      </div>

      <div class="col-sm-12 features-added" [class.added]="featuresAdded">
        <h3 *ngIf="!featuresAdded" class="no-features">No features added</h3>
        <h3 *ngIf="featuresAdded" class="bg-blue features-header">Features</h3>
        <ul class="category-list">
          <li class="category" *ngFor="let cat of chosenFeatures">
            <span class="span-category">
              {{cat.category}}
            </span>
            <ul class="feature-list">
              <li class="feature" *ngFor="let feat of cat.features" >
                <span class="span-feature" (click)="onFeatureClick(feat)">
                  {{feat.feature}}
                </span>

                <img src="../../../../assets/delete.png" class="delete-img" alt="delete feature" (click)="deleteFeature(cat.category, feat)">
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6 add-features-container">
      <h2 class="features-header bg-blue">Features</h2>

      <form #featuresForm="ngForm" class="add-features-form" enctype="multipart/form-data">

        <div class="editable">
          <label>
            <select name="selectFeature" class="selectFeature" [(ngModel)]="selectedFeature" required>
              <option value="" [ngValue]="null" selected>Feature</option>
              <optgroup *ngFor="let element of predefinedFeatures" label="{{element.category}}">
                <option *ngFor="let feature of element.listOfFeatures">{{feature}}</option>
              </optgroup>
            </select>
          </label>

          <input type="text" [(ngModel)]="feature.title" name="title" class="form-control" placeholder="Title of Evidence: e.g Product Listing" required>
          <input type="text" [(ngModel)]="feature.origin" name="origin" class="form-control" placeholder="Origin of Evidence: e.g URL" required>
          <input type="text" [(ngModel)]="feature.purpose" name="purpose" class="form-control purpose" placeholder="Purpose of Evidence: e.g Advertisement" required>

          <label>
            <select name="selectMedia" class="selectMedia" required [(ngModel)]="selectedMedia" minlength="3" (change)="onMediaSelect()">
              <option value="ph" [ngValue]="null" selected>Evidence media</option>
              <optgroup label="File type">
                <option value="image">Image</option>
                <option value="video">Video</option>
                <option value="pdf">PDF</option>
                <option value="audio">Audio</option>
              </optgroup>
            </select>
          </label>

          <div class="evidence-container" *ngIf="evidenceIsImage">
            <app-image-upload
              *ngIf="!feature.src"
              [aspectRatio]="4/3"
              (imageUploaded)="handleImageEvidenceUpload($event)"
              (imageError)="handleUploadError($event)">
            </app-image-upload>

            <div *ngIf="feature.src && feature.thumbnail">
              <img class="evidence-thumnbail img" [src]="feature.thumbnail" (click)="openModal()" alt="evidence thumbnail">
              <button class="btn btn-primary btn-upload changeUpload" (click)="showUploadButton()">Change Evidence</button>
            </div>

          </div>

          <div class="evidence-container" *ngIf="evidenceIsVideo">
            <app-video-upload
              *ngIf="!feature.src"
              (videoUploaded)="handleVideoEvidenceUpload($event)"
              (videoError)="handleUploadError($event)">
            </app-video-upload>

            <div *ngIf="feature.src && feature.thumbnail">
              <img class="evidence-thumnbail" [src]="feature.thumbnail" (click)="openModal()" alt="evidence thumbnail">
              <button class="btn btn-primary btn-upload changeUpload" (click)="showUploadButton()">Change Evidence</button>
            </div>
          </div>

          <div class="evidence-container" *ngIf="evidenceIsPdf">
            <div *ngIf="!feature.src">
              <app-pdf-upload
                *ngIf="!feature.src"
                (pdfUploaded)="handleAudioVideoEvidenceUpload($event)"
                (pdfError)="handleUploadError($event)">
              </app-pdf-upload>
            </div>

            <div *ngIf="feature.src">
              <img class="evidence-thumnbail audio" src="../../../../assets/pdf.png" (click)="openModal()" alt="evidence thumbnail">
              <button class="btn btn-primary btn-upload changeUpload" (click)="showUploadButton()">Change Evidence</button>
            </div>

          </div>

          <div class="evidence-container" *ngIf="evidenceIsAudio">
            <app-audio-upload
              *ngIf="!feature.src"
              (audioUploaded)="handleAudioVideoEvidenceUpload($event)"
              (audioError)="handleUploadError($event)">
            </app-audio-upload>

            <div *ngIf="feature.src">
              <img class="evidence-thumnbail audio" src="../../../../assets/audio.png" (click)="openModal()" alt="evidence thumbnail">
              <button class="btn btn-primary btn-upload changeUpload" (click)="showUploadButton()">Change Evidence</button>
            </div>
          </div>

          <!--Add Feature Button-->
          <button id="add-update-feature" class="btn btn-primary btn-add-feature" [disabled]="!featuresForm.form.valid || !feature.src" (click)="onAddFeatureClick(featuresForm)">{{featureButton}}</button>
        </div>

      </form>
    </div>

    <div class="form-group create-device-button-container">
      <button [disabled]="!createDeviceForm.form.valid || !device.image" class="btn btn-primary btn-create-device" (click)="onSaveSubmit()">Create Revision</button>
    </div>

  </form>
</div>

