.main-nav {
  padding-left: 15px;
  padding-right: 15px;

  .navbar-brand {
    padding-left: 15px;
  }

  .nav-link {
    padding: 0 15px;

    &:hover {
      .nav-span {
        border-bottom: 1px solid #ffffff;
      }
    }

    .nav-span {
      padding-bottom: 2px;
    }
  }

  .nav-item {
    &.active {
      .nav-link {
        font-weight: bold;

        .nav-span {
          border-bottom: 1px solid #ffffff;
        }
      }
    }
  }
}

.user-type {
  font-size: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    text-decoration: none;
  }
}
