<nav *ngIf="authService.loggedIn()" class="main-nav navbar navbar-expand-md bg-dark-grey">
  <a class="navbar-brand" [routerLink]="['/']">Olympus</a>
  <div class="collapse navbar-collapse">
    <a class="user-type" [routerLink]="['/']">{{userTypeService.getUserType()}}</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
        <a class="nav-link" [routerLink]="['/']">
          <span class="nav-span">Dashboard</span></a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
        <a class="nav-link" [routerLink]="['/profile']">
          <span class="nav-span">View Account</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="onLogoutClick()" href="#">
          <span class="nav-span">Logout</span></a>
      </li>
    </ul>
  </div>
</nav>
