.main-content {
  background: #ffffff;
  margin: 30px auto;
  padding: 25px;
  color: #17105b;
  overflow: auto;
  position: relative;

  .compare-header {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
  }

  .compare-table {
    width: 100%;

    td, th {
      border: .7px solid #dddddd;
    }

    td {
      padding: 5px 10px;
    }

    .compare-sub-heading, .category {
      border: .7px solid #dddddd;

      td {
        border: none;
        padding: 8px 10px;
        font-weight: 600;
      }
    }

    .category {
      background: #17105b;
      color: #ffffff;

      &:hover {
        background: #17105b;
      }
    }

    .features {
      .field {
        padding-left: 20px;
        font-weight: 500;
      }

      .success {
        color: #28a745;
      }

      .failure {
        color: red;
      }
    }

    .compare-sub-heading {
      td {
        text-align: center;
        font-weight: 600;
      }
    }

    .field {
      font-weight: 600;
      background: #fafafa;
    }

    tr {
      &:hover {
        background: #FCF8E3;
      }
    }

    .top-cell, .compare-sub-heading {
      &:hover {
        background-color: initial;
      }
    }

    .back {
      width: 25%;
      vertical-align: top;
      padding: 10px;

      .btn {
        padding: 0;
        color: #17105b;
        font-weight: 700;
      }

      .info {
        margin-top: 20px;
        font-weight: initial;
      }
    }

    .device-img-cell {
      width: 25%;
      cursor: pointer;

      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }

      .name {
        margin: 0 0 10px 0;
        text-align: center;
        font-weight: 500;
      }
    }

    .devices-two {
      width: 33.3333333%;
    }

    .devices-four {
      width: 20%;
    }

    .devices-five {
      width: 16.666666%;
    }

    .devices-six {
      width: 14.2%;
    }

    .detail {
      text-align: center;
    }
  }

  .device-container {

    .description {
      height: 150px;
      font-size: 12px;
      width: 200px;
      margin: 20px auto 0 auto;
      display: block;
      border: none;
      resize: none;
    }
  }

  .btn-success {
    margin-top: 20px;
    float: right;
  }
}

.devices {
  position: fixed;
  top: 100px;
  width: inherit;
  left: 0;
  padding: 10px 25px;
  border: 2px solid #17105b;

  .blank-div {
    width: 25%;
    float: left;
    height: 300px;
  }

  .device-container {
    background: #ffffff;
    width: 25%;
    float: left;
    padding: 5px 10px;
    
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    
    p {
      text-align: center;
    }
  }
}

