<div class="main-content box-shadow">
  <h1 class="compare-header">Compare Devices</h1>
  <table class="compare-table">
    <thead class="fields">
    <tr class="top-cell">
      <th class="back"
          [class.devices-two]="isDevices(2)"
          [class.devices-four]="isDevices(4)"
          [class.devices-five]="isDevices(5)"
          [class.devices-six]="isDevices(6)">
        <button class="btn" (click)="toDashboard()">< Back to devices</button>
        <p class="info">Here are the items you've chosen to compare.</p>
      </th>
      <th class="device-img-cell"
          [class.devices-two]="isDevices(2)"
          [class.devices-four]="isDevices(4)"
          [class.devices-five]="isDevices(5)"
          [class.devices-six]="isDevices(6)"
          *ngFor="let image of deviceImages; index as i"
          (click)="toDevice(i)">
        <img class="device-img" alt="device" [src]="image">
        <p class="name">{{deviceNames[i]}}</p>
      </th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td class="field">Manufacturer</td>
        <td class="detail" *ngFor="let man of deviceManufacturers">
          {{man}}
        </td>
      </tr>

      <tr>
        <td class="field">Price</td>
        <td class="detail" *ngFor="let price of devicePrices">
          {{price}}
        </td>
      </tr>
    </tbody>

    <tr class="compare-sub-heading">
      <td colspan="3" *ngIf="isDevices(2)">Features</td>
      <td colspan="4" *ngIf="isDevices(3)">Features</td>
      <td colspan="5" *ngIf="isDevices(4)">Features</td>
      <td colspan="6" *ngIf="isDevices(5)">Features</td>
      <td colspan="7" *ngIf="isDevices(6)">Features</td>
    </tr>

    <tbody class="features" *ngFor="let feature of featureDeviceMap">
      <tr class="category">
        <td colspan="3" *ngIf="isDevices(2)">{{feature.category}}</td>
        <td colspan="4" *ngIf="isDevices(3)">{{feature.category}}</td>
        <td colspan="5" *ngIf="isDevices(4)">{{feature.category}}</td>
        <td colspan="6" *ngIf="isDevices(5)">{{feature.category}}</td>
        <td colspan="7" *ngIf="isDevices(6)">{{feature.category}}</td>
      </tr>

      <tr *ngFor="let feat of feature.features">
        <td class="field">{{feat.feature}}</td>
        <td class="detail" *ngFor="let device of devices; index as i">
          <span *ngIf="hasFeature(i, feat.devices)" class="success">&#10003;</span>
          <span *ngIf="!hasFeature(i, feat.devices)" class="failure">&#10005;</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
