<div class="main-content box-shadow">
  <h1 class="page-header">Create Feature</h1>
  <form #createFeatureForm="ngForm" (submit)="onCreateSubmit()" class="add-feature-form" enctype="multipart/form-data">
    <div class="feature-info">
      <div class="feature-details">
        <label>
          <select name="selectCategory" class="selectCategory" [(ngModel)]="selectedCategory" required (change)="onCategorySelect()">
            <option value="" [ngValue]="null" selected>Select Category</option>
            <optgroup label="Existing">
              <option *ngFor="let element of predefinedCategories">{{element.category}}</option>
            </optgroup>

            <optgroup label="Other">
              <option>
                Create New
              </option>
            </optgroup>
          </select>
        </label>

        <input type="text" [disabled]="selectedCategory !== 'Create New'"  [(ngModel)]="featureCategory" name="featureCategory" class="form-control" placeholder="New Category" required>
        <input type="text" [(ngModel)]="featureName" name="featureName" class="form-control" placeholder="Feature" required>
      </div>
    </div>

    <div class="form-group create-feature-button-container">
      <input type="submit" [disabled]="!createFeatureForm.form.valid" class="btn btn-primary btn-create-feature" value="Create">
    </div>

  </form>
</div>

