.main-content {
  background: #ffffff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  width: 400px;

  .col-sm-12, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2 {
    float: left;
    padding: 0;
  }
}

.add-feature-form {
  .form-control {
    border: .7px solid #17105b;

    &:last-child {
      border-top: none;
    }
  }

  .feature-details {
    margin: 20px 0;
  }

  .create-feature-button-container {
    margin-bottom: 0;

    .btn-create-feature {
      width: 100%;
    }
  }

  .btn-primary.disabled, .btn-primary:disabled {
    cursor: default;
    background: #17105b;
    border-color: #17105b;
    opacity: 0.75;
  }

  .form-control:disabled {
    background: #ffd6d4;;
  }

  label {
    width: 100%;
  }

  select {
    width: 100%;
    padding: 9px;
    color: #17105b;
  }
}
